* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f5f5f5;
}

.top-header span {
    font-size: 12px;
    font-weight: 300;
}

.top-header-left,
.top-header-right {
    display: flex;
}

.icon-wrapper {
    margin-right: 8px;
    display: flex;
    align-items: center;
    border-left: 1px solid #e7e9ec;
}

.icon-wrapper span {
    margin: 0 8px;
}

.icon-wrapper i {
    margin-left: 12px;
}

.icon-wrapper img {
    margin-left: 12px;
}

.top-header-right .icon-wrapper:nth-child(2) {
    border-left: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f5f5f5;
}

.navbar-left {
    display: flex;

}

.navbar-left h2 {
    margin-right: 20px;
}

.navbar-left h2 span {
    color: #e33825;
    font-size: 14px;
    margin-left: -5px;
}

.navbar-center nav ul {
    list-style: none;
    display: flex;
}

.navbar-center nav li {
    padding: 0 16px;
}

.navbar-center nav a {
    text-decoration: none;
    font-size: 14px;
    color: #1a1a1a;
}

/* start searchbar */
.search-wrapper {
    position: relative;
}

.search-wrapper input {
    padding: 16px 16px 16px 32px;
    outline: none;
    border: 1px solid #e0d6d6;
}

.search-wrapper i {
    color: #808080;
    position: absolute;
    top: 16px;
    left: 10px;
}

/*  end searchbar */

.information {
    background-color: #262626;
    padding: 16px;
}

.information p {
    color: #929292;
    text-align: center;
    text-transform: uppercase
}



/* section */
.bg-wrapper {
    padding: 60px;
}

.background {
    display: flex;
    flex-direction: column-reverse;
    padding: 60px;
    color: white;
    background-image: url("https://images.pexels.com/photos/389818/pexels-photo-389818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 20rem;
    margin: 0 auto;
}

.background .sale {
    font-weight: 300;
    font-size: 12px;
}

.background .title {
    line-height: 60px;
    font-size: 40px;
    font-weight: 600;
}

.background .info {
    font-size: 14px;
}

.shopping-wrapper {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 30px;
    align-items: center;
}

.shopping-wrapper button {
    outline: none;
    padding: 8px 22px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}


/* mastercard-section */

section.mastercard-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    width: 80%;
    margin: 0 auto;
}

.mastercard-wrapper {
    display: flex;
    width: 400px;
}

.mastercard {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.mastercard-header {
    font-size: 20px;
}

.mastercard-header span {
    font-size: 12px;
    color: #e33825;
}

.mastercard-body .number {
    font-size: 30px;
}

.mastercard-body span {
    margin: 0 10px;
}

.mastercard-body span:nth-child(1) {
    margin-left: 0;
}

.mastercard-footer {
    display: flex;
    justify-content: space-between;
}

.mastercard-info {
    display: flex;
    justify-content: space-between;
}

.mastercard-details h4 {
    color: #44464a;
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;
}

.mastercard-details p {
    color: #000;
}

.mastercard-details:first-child {
    padding-right: 20px;
}

.mastercard-logo {
    display: flex;
}

.mastercard-circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.first {
    background-color: rgba(241, 43, 43, 0.705);
    margin-right: -10px;
}

.second {
    background-color: rgba(241, 175, 43, 0.719);
    margin-left: -10px;
}

.mastercard-egift,
.mastercard-shipping {
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: center;
}

.mastercard-egift div,
.mastercard-shipping div {
    padding-bottom: 1.5rem;
}

.egift,
.shipping {
    font-size: 1.3rem;
    font-weight: 600;
}

.mastercard-egift a,
.mastercard-shipping a {
    padding-top: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
}

/* product section */
.products-section {
    width: 90%;
    margin: 3rem auto 0 auto;
    padding-top: 4rem;
    border-top: 1px solid #d1cdcd;
}

.products-text-plus-btn,
.featured-text-plus-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    align-items: center;
}

p.products-text,
.featured-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.categories-btn,
.featured-btn {
    color: #000;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.products-details {
    display: flex;
    justify-content: space-between;
}

.product p:not(.hard-drive) {
    padding-top: 0.5rem;
    margin-top: 1rem;
    border-top: 1px solid #d1cdcd;
    font-weight: 500;
}

.hard-drive {
    padding-top: 0.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid #d1cdcd;
    font-weight: 500;
}


/* featured section */

.featured-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
}